   @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    *{
    box-sizing: border-box;
    padding:0;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    }

    /* Body styling */
    body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url(Assets/LoginRegister.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    }
     /* Navbar */
     #picture {
      width:120px;
      height:80px;
    }
    .search{
      width:100px;
      height:40px;
      border-radius: 5px 5px;
    }

    .input-with-icon {
      position: relative;
    }
    .input-with-icon input {
      padding-left: 30px; 
    }
    .input-with-icon .icon {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  /* main {
    background-image: url(Assets/TodolistPreview.jpg) !important;
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
  } */

    /* index.html styling */
    .nav-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 80%;
      margin: auto;
    }

  #todo-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    backdrop-filter: blur(5px); 
    }     

    
    #titleInput, #descriptionInput, #dueDateInput {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }

.btns button {
  background-color: gray;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px; 
  }

.btns button:hover {
  background-color: black;
  }

  #todo-item {
    padding:10px;
    margin:10px;
  }

    ul li{
    list-style-type: none ;
    }

    .list-group-item {
    padding: 10px;
    border: 1px solid 333;
    margin-bottom: 10px;
    /* background-color: #fff; */
    border-radius: 10px 10px;
    width:30%;
    }
    
    .list-group-item i {
    margin-left: 10px;
    }
    
    .link-text{
    color:black !important;  
    text-decoration:none;
    background: transparent !important;
    }
    
    /* Registration page */
    .register-fluid {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 20px;
      margin-left:150px;
    }
    #registrationForm {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }

    .error {
    color: red;
    font-size: 12px;
    }

    input[type="submit"] {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    width: 100%;
    }

    input[type="submit"]:hover {
    background-color: black;
    color:#fff;
    }
    /* Login Page styling */
    .login-fluid{
    display:flex;
    justify-content:start;
    align-items:center;
    flex-direction: column;
    padding:5px;
    margin-top:20px;
    margin-left:20px;
    }

    #loginForm {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    }

    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }

    .error {
    color: red;
    font-size: 12px;
    }

    input[type="submit"] {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    }
    input[type="submit"]:hover {
    background-color: black;
    color:#fff;
    }
    a{
      background-color: gray;
      border: none ;
      border-radius:3px;
      color:#fff;
      padding: 10px 20px;
      text-decoration:none;
      height:20px !important;
    }
    a:hover{
      background-color: black;
    }
    #todo-container {
      width: 80%; 
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }

    @media screen and (max-width: 480px) {
      table {
        width: 20%;
        border-collapse: collapse;
      }
    }