*{
box-sizing: border-box;
padding:0;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
font-size: 50px;
justify-content: center;
align-items: center;
display:flex;
}
.container {
background-color: #f4f4f4;
}
#todo-container { 
width:100px;
display:flex;
align-items:center;
justify-content: center;
}
.login{
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;
padding:5px;
margin:5px;
}
#input{
width:30rem;
height:10rem;
}
#button{
padding:5px;
margin:5px;
}
/* #todo-list {
    list-style-type: none;
    padding: 0;
}
.todo-item {
    margin-bottom: 5px;
}
.delete-btn {
    margin-left: 5px;
    cursor: pointer;
} */


body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
#loginForm {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 300px;
}
label {
display: block;
margin-bottom: 5px;
color: #333;
}
input[type="text"],
input[type="password"] {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
box-sizing: border-box;
}
.error {
color: red;
font-size: 12px;
}
input[type="submit"] {
background-color: #4caf50;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
}
input[type="submit"]:hover {
background-color: #45a049;
}


#registrationForm {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 300px;
}
label {
display: block;
margin-bottom: 5px;
color: #333;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
box-sizing: border-box;
}
.error {
color: red;
font-size: 12px;
}
input[type="submit"] {
background-color: #4caf50;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
width: 100%;
}
input[type="submit"]:hover {
background-color: #45a049;
}