   @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    *{
    box-sizing: border-box;
    padding:0;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    }

    /* Body styling */
    body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url(Assets/pexels-photo-373892.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
    }
     /* Navbar */
     #picture {
      width:120px;
      height:80px;
  }
  .container {
    background-color: #fff;
  }
  .container:hover {
    background: none;
  }

    /* index.html styling */
    .nav-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 80%;
      margin: auto;
      /* background-color: #fff; */
  }

    /* .search-feature {
    margin-bottom: 20px;
    }

    .search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    } */
    
    .btn-primary {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
    }
    
    .btn-primary:hover {
    background-color: #45a049;
    }
    
    #todo-container {
    width: 300px;
    margin: 0 auto;
    
    }
    
    #titleInput, #descriptionInput {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }
    
    .btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    }
    
    #button, #button2 {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    width: 45%;
    
    }

    #button2{
    margin-bottom: 20px;
    }
    
    #button:hover, #button2:hover {
    background-color: #45a049;
    }

    #todo-item {
    padding:10px;
    margin:10px;
    max-height: 300px;
    /* overflow: auto; */
    }

    ul li{
    list-style-type: none ;
    }

    .list-group-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    }
    
    .list-group-item i {
    margin-left: 10px;
    }
    
    .logout-text{
    color:white;
    text-decoration:none;
    }

    .btn-primary{
    width: 45%;
    }

    .link-text{
    color:black;
    text-decoration:none;
    }
    
    /* Registration page */
    #registrationForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }

    .error {
    color: red;
    font-size: 12px;
    }

    input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    width: 100%;
    }

    input[type="submit"]:hover {
    background-color: #45a049;
    }
    /* Login Page styling */
    .login{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:5px;
    margin:5px;
    }

    #loginForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    }

    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }

    .error {
    color: red;
    font-size: 12px;
    }

    input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    }
    input[type="submit"]:hover {
    background-color: #45a049;
    }
  
    
